@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #2c37cd;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

::selection {
  color: #dbd5c6;
  background-color: #d023ea;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.polygon {
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
}

.screen-height {
  height: calc(100vh - 80px);
}

@media (min-width: 1024px) {
  .lg-screen-height {
    height: calc(100vh - 80px);
  }
}

.custom-w {
  width: calc((100% - 20px) / 2);
}

.transition-height {
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
  max-height: 5.6rem; /* Approximate height for 4 lines */
}

.transition-height.expanded {
  max-height: 1000px; /* Large enough to show the full content */
}

.text-stroke--blue {
  -webkit-text-stroke: 1px #2c37cd;
  -webkit-text-fill-color: transparent;
}
.text-stroke--blue-sm {
  -webkit-text-stroke: 0.5px #2c37cd;
  -webkit-text-fill-color: transparent;
}
.text-stroke--white {
  -webkit-text-stroke: 1px #dbd5c6;
  -webkit-text-fill-color: transparent;
}

.text-stroke--magenta {
  -webkit-text-stroke: 1px #d023ea;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 1024px) {
  .text-stroke {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.8);
    -webkit-text-fill-color: transparent;
  }
}
